@keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-out {
    animation: slideOut 1.5s ease-in-out forwards;
  }
  
  .animate-in {
    animation: slideIn 1s ease-in-out forwards;
  }
  
  